

.header {
  height: 100px;
  background: rgb(249, 221, 167);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  opacity: 0.9;
}
.boutton{
    background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.points{
    width: 4px;
  height: 4px;
  background: black;
  border-radius: 50%;
}
.boutton:hover {
  transform: scale(1.8);
  opacity: 0.8;
}


.box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 30px;
  padding: 20px;
  margin-left: 20px; 
  margin-right: 20px;
  margin-top: 30px;
}

body {
  margin: 0;
}

.logo img {
  height: 100px;
  width: auto;
}
.page {
  min-height: 100vh;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../public/images/girage.jpg");
  background-size: cover;
  background-position: center;
}
