
.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("https://www.explore-grandest.com/app/uploads/2025/11/sortie-des-girafes-high-scaled-1920par1080-1035x480.jpg");
  background-repeat: no-repeat;
    background-position: center;
  background-size: cover;
  
}


.box {
  background-color: #f5f5f5b7;
  padding: 60px 50px; 
  border-radius: 20px;
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 30px; 
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  align-items: center;
}


.title {
  color: #333;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}


.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px; 
}


.inputField {
  width: 100%;
  padding: 16px; 
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 18px;
  background-color: #fff;
  color: #333;
}

.inputField::placeholder {
  color: #999;
}


.submitButton {
  width: 100%;
  padding: 16px; 
  background-color: #007BFF;
  border: none;
  border-radius: 12px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.25s ease, background 0.3s ease;
}

.submitButton:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.submitButton:active {
  transform: scale(0.97);
}


.message {
  padding: 12px 25px;
  color: white;
  border-radius: 6px;
  display: inline-block;
  font-weight: bold;
  font-family: Arial, sans-serif;
  margin-top: 15px;
  text-align: center;
}
