

.header{
    height: 60px;
  background: rgb(244, 205, 133);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.boutton{
    background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.points{
    width: 4px;
  height: 4px;
  background: black;
  border-radius: 50%;
}
.boutton:hover {
  transform: scale(1.8);
  opacity: 0.8;
}